{% extends 'base.html.twig' %}

{% block metaTitle %}<meta property="og:title" content="{{ entity.title }}| {{ 'band'|getBandName }}"/>{% endblock %}
{% block metaDescription %}<meta property="og:description" content="{{ entity.content|raw|striptags }}"/>{% endblock %}

{% block breadCrumb %}
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "{{ url('homepage_frontend_index') }}",
            "name": "{{ 'home'|trans }}"
        }
    }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "{{ url('page_show', {'slug': entity.slug}) }}",
            "name": "{{ entity.title }}"
        }
    }]
}
</script>
{% endblock %}

{% block body %}
    <div class="container bg-black p-3">
        <div class="row">
            <h1 class="col">{{ entity.title }}</h1>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                {{ entity.content| raw }}
            </div>
        </div>
    </div>
{% endblock %}
