{% extends 'base.html.twig' %}
{% block body %}
    <div class="container table-responsive">
        <h1>{% trans from 'gig' %}Upcoming gigs{% endtrans %}</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    {% trans from 'gig' %}when{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'gig' %}gig{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'gig' %}price{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'gig' %}doors open{% endtrans %}
                </th>
                <th scope="col">
                    {% trans from 'gig' %}where{% endtrans %}
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for gig in entities %}

                    <tr>
                        <th scope="row">
                            {{ gig.date|date('d.m.Y') }}
                        </th>
                        <td>
                            {{ gig.title }}
                        </td>
                        <td>
                            {{ gig.price }} {{ default_currency }}
                        </td>
                        <td>
                            {{ gig.date|date('H:i') }}
                        </td>
                        <td>
                            {{ gig.location.name }}, {{ gig.location.city }}
                        </td>
                        <td>
                            <a class="btn btn-light btn-outline-dark" href="{{ path('gig_show', {'slug': gig.slug}) }}"> {% trans from 'gig' %}more information{% endtrans %}</a>
                        </td>
                    </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
