{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">

                <h3>
                    {{ entity.date| date('d.m.Y') }}
                </h3>
                <h3>
                    {% trans from "messages" %}doors_open{% endtrans %}
                    {{ entity.date| date('H:i') }}
                </h3>
            </div>
            <div class="col text-right">
                <h1>
                    {{ entity.title }} @ {{ entity.location.name }}, {{ entity.location.city }}
                </h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm">
                {{ entity.description| raw }}
                <p>
                    <b>{% trans from "messages" %}price{% endtrans %}: {{ entity.price }} {{ default_currency }}</b>
                </p>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{% trans from "messages" %}location{% endtrans %}</h5>
                        <iframe class="w-100 mh-50" height="300px"
                                frameborder="0" style="border:0"
                                src="https://www.google.com/maps/embed/v1/place?key={{ ga_api_key }}
    &q={{ entity.location.street }}+ {{ entity.location.zip }}+ {{ entity.location.city }}" allowfullscreen>
                        </iframe>
                        <div class="text-right">
                            <h6>
                                {{ entity.location.name }} |
                                {{ entity.location.street }},
                                {{ entity.location.zip }} {{ entity.location.city }}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
