{% extends 'base.html.twig' %}

{% block metaTitle %}<meta property="og:title" content="{{ entity.date|date('d.m.Y') }}: {{ entity.title }}| {{ 'band'|getBandName }}"/>{% endblock %}
{% block metaDescription %}<meta property="og:description" content="{{ entity.description|striptags|replace({'&nbsp;': ' '}) }}"/>{% endblock %}

{% block schema %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Event",
        "name": "{{ entity.title }}",
        "description": "{{ entity.description|striptags|replace({'&nbsp;': ' '}) }}",
        "startDate": "{{ entity.date|date('Y-m-d H:i') }}",
        "typicalAgeRange": "All Ages",
        "image" : "{{ 'image' |getMetaImage}}",
        "performers": {
            "@type": "Organization",
            "name": "{{ 'band'|getBandName }}"
        },
        "location": {
            "@type": "Place",
            "name": "{{ entity.location.name }}",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "{{ entity.location.street }}",
                "addressLocality": "{{ entity.location.city }}",
                "postalCode": "{{ entity.location.zip }}",
                "addressCountry": "{{ entity.location.country|capitalize }}"
            }
        },
        "offers": {
            "@type": "Offer",
            "price": "{{ entity.price }}",
            "priceCurrency": "{{ default_currency|trans }}",
            "validFrom": "{{ entity.date|date('Y-m-d') }}",
            "validThrough": "{{ entity.date|date('Y-m-d') }}"
        }
    }
</script>
{% endblock %}

{% block breadCrumb %}
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "{{ url('homepage_frontend_index') }}",
            "name": "{{ 'home'|trans }}"
        }
    }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "{{ url('gig_list_upcoming_frontend') }}",
            "name": "{{ 'upcoming_gigs'|trans }}"
        }
    }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
            "@id": "{{ url('gig_show', {'slug' : entity.slug}) }}",
            "name": "{{ entity.title }}"
        }
    }]
}
</script>
{% endblock %}

{% block body %}
    <div class="container bg-black p-3">
        <div class="d-none d-md-block">
            <div class="row">
                <div class="col-md-6">
                    <h1>
                        {{ entity.title }} @ {{ entity.location.name }}, {{ entity.location.city }}
                    </h1>
                    <h3>
                        {% trans from "messages" %}date{% endtrans %}:
                        {{ entity.date| date('d.m.Y') }}
                    </h3>
                    <h3>
                        {% trans from "messages" %}doors_open{% endtrans %}:
                        {{ entity.date| date('H:i') }} {{ entity.date| date('a')|trans }}
                    </h3>
                    <h3>
                        {% trans from "messages" %}price{% endtrans %}:
                        {{ entity.price }}{{ default_currency|trans }}
                    </h3>
                </div>
                <div class="col-md-6">
                    {% include 'Gig/_module/map.html.twig' %}
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <div class="row">
                <div class="col">
                    <h1>
                        {{ entity.title }} @ {{ entity.location.name }}, {{ entity.location.city }}
                    </h1>
                </div>
                <div class="col">
                    <h3>
                        {% trans from "messages" %}date{% endtrans %}:
                        {{ entity.date| date('d.m.Y') }}
                    </h3>
                    <h3>
                        {% trans from "messages" %}doors_open{% endtrans %}:
                        {{ entity.date| date('H:i') }}
                    </h3>
                    <h3>
                        {% trans from "messages" %}price{% endtrans %}:
                        {{ entity.price }}{{ default_currency|trans }}
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% include 'Gig/_module/map.html.twig' %}
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm">
                {{ entity.description| raw }}
            </div>
        </div>
    </div>
{% endblock %}
