<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">
            {% trans from "messages" %}when{% endtrans %}
        </th>
        <th scope="col">
            {% trans from "messages" %}gig{% endtrans %}
        </th>
        <th scope="col">
            {% trans from "messages" %}price{% endtrans %}
        </th>
        <th scope="col">
            {% trans from "messages" %}doors_open{% endtrans %}
        </th>
        <th scope="col">
            {% trans from "messages" %}where{% endtrans %}
        </th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for gig in gigs %}
        <tr>
            <th scope="row">
                {{ gig.date|date('d.m.Y') }}
            </th>
            <td>
                {{ gig.title }}
            </td>
            <td>
                {{ gig.price }}{{ default_currency|trans() }}
            </td>
            <td>
                {{ gig.date|date('H:i') }}
            </td>
            <td>
                {{ gig.location.name }}, {{ gig.location.city }}
            </td>
            <td>
                <a class="btn btn-light btn-outline-dark"
                   href="{{ path('gig_show', {'slug': gig.slug}) }}"> {% trans from "messages" %}more_information{% endtrans %}</a>
            </td>
        </tr>

    {% endfor %}
    </tbody>
</table>
