{% extends 'admin-base.html.twig' %}
{% block body %}
    <div class="container">
        {% if  app.request.get('_route') ends with '_edit' %}
            <div class="row mb-3">
                <div class="col">
                    <h1>{% trans from "messages" %}edit_location{% endtrans %}</h1>
                </div>
            </div>
        {% else %}
            <div class="row mb-3">
                <div class="col">
                    <h1>{% trans from "messages" %}create_location{% endtrans %}</h1>
                </div>
            </div>
        {% endif %}
        {{ form_start(form) }}
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}name{% endtrans %}</label>
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>{% trans from "messages" %}street{% endtrans %}</label>
                {{ form_widget(form.street) }}
            </div>
            <div class="form-group col-md-4">
                <label>{% trans from "messages" %}city{% endtrans %}</label>
                {{ form_widget(form.city) }}
            </div>
            <div class="form-group col-md-2">
                <label>{% trans from "messages" %}zip{% endtrans %}</label>
                {{ form_widget(form.zip) }}
            </div>
        </div>
        <div class="form-group text-right">
            {{ form_row(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
