{% extends 'admin-base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
 {% endblock %}
{% block body %}
    <table id="location-list" class="table">
        <thead>
        <tr>
            <th scope="col">{% trans from 'page' %}title{% endtrans %}</th>
            <th scope="col">{% trans from 'page' %}createdAt at{% endtrans %}</th>
            <th scope="col">{% trans from 'page' %}modified at{% endtrans %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for location in entities %}
            <tr>
                <td scope="row">{{ location.name }}</td>
                <td scope="col" data-order="{{ location.createdAt|date('Y-m-d') }}">{{ location.createdAt|date('d.m.Y H:i') }}</td>
                <td scope="col" data-order="{{ location.createdAt|date('Y-m-d') }}">{{ location.modifiedAt|date('d.m.Y H:i') }}</td>
                <td scope="col">
                    <a class="float-right"
                       href="{{ path('page_edit', {'id': location.id}) }}">{% trans from 'page' %}edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#location-list').DataTable({
                'order': [[3, 'desc']]
            });
        });
    </script>
{% endblock %}
