{% extends 'base.html.twig' %}
{% block schema %}

{% set sameAs = ['facebook-page'|getFacebookPage, 'instagram-account'|getInstagramAccount, 'youtube-channel'|getYouTubeChannel, 'spotify-account'|getSpotifyAccount] %}


<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "MusicGroup",
         "name": "{{ 'bla'|getBandName }}",
         "sameAs": [
            {% for url in sameAs %}
                "{{ url }}"{% if url != sameAs|last %},{% endif %}
            {% endfor %}
        ],
        "event": [
    {% for gig in gigs %}
            {
                "@type": "Event",
                "name": "{{ gig.title }}",
                "description": "{{ gig.description }}",
                "startDate": "{{ gig.date|date('Y-m-d H:i') }}",
                "typicalAgeRange": "All Ages",
                "image" : "{{ 'image' |getMetaImage}}",
                "performers": {
                    "@type": "Organization",
                    "name": "{{ 'band'|getBandName }}"
                },
                "location": {
                    "@type": "Place",
                    "name": "{{ gig.location.name }}",
                    "address": {
                        "@type": "PostalAddress",
                        "streetAddress": "{{ gig.location.street }}",
                        "addressLocality": "{{ gig.location.city }}",
                        "postalCode": "{{ gig.location.zip }}",
                        "addressCountry": "{{ gig.location.country|capitalize }}"
                    }
                },
                "offers": {
                    "@type": "Offer",
                    "price": "{{ gig.price }}",
                    "priceCurrency": "{{ default_currency|trans }}",
                    "validFrom": "{{ gig.date|date('Y-m-d') }}",
                    "validThrough": "{{ gig.date|date('Y-m-d') }}"
                }
            }{% if gig != gigs|last %},{% endif %}
    {% endfor %}
        ]
    }
</script>
{% endblock %}
{% block body %}
    <div class="row ml-md-5">
        <div class="col-md-3 mb-5 bg-black ml-3 mr-3 ml-md-5 mr-md-5">
            <h2 class="text-center pt-3">{% trans %}news{% endtrans %}</h2>
            {% for news in newsList %}
            <div class="card bg-black mb-3 border-bottom">
                <div class="card-body p-0">
                    <a href="{{ path('news_show', {'slug': news.slug}) }}" class="text-light">
                        <h3 class="card-title"> {{ news.title }}</h3>
                    </a>
                    <p class="card-text">
                        {{ news.content|striptags| slice(0, 100) }}
                        {% if news.content|length > 100 %}
                            ...
                        {% endif %}
                        <p>
                            <a href="{{ path('news_show', {'slug': news.slug}) }}" class="text-light">
                                {% trans from "messages" %}read_more{% endtrans %}
                            </a>
                        </p>
                    </p>
                </div>
            </div>
            {% endfor %}
            <div class=" d-none d-md-block">
                <a href="{{ path('news_list_frontend') }}" class="text-light text-center">
                    {% trans from "messages" %}more_news{% endtrans %}
                </a>
            </div>
            <div class="d-block d-md-none">
                <button class="btn btn-outline-light pull-right">
                    <a href="{{ path('news_list_frontend') }}" class="text-light">
                        {% trans from "messages" %}more_news{% endtrans %}
                    </a>
                </button>
            </div>
        </div>
        <div class="col-md-3 mb-5 bg-black ml-3 mr-3 ml-md-5 mr-md-5">
            <h2 class="text-center pt-3">{% trans %}gigs{% endtrans %}</h2>
            {% for gig in gigs %}
            <div class="card bg-black mb-3 border-bottom">
                <div class="card-body p-0">
                    <a href="{{ path('gig_show', {'slug': gig.slug}) }}" class="text-light">
                        <h3 class="card-title"> {{ gig.title }}</h3>
                    </a>
                    <p class="card-text">
                        {{ gig.date|date('d.m.Y') }} | {{ gig.location.name }}
                        <p>
                            <a href="{{ path('gig_show', {'slug': gig.slug}) }}" class="text-light">
                                {% trans from "messages" %}info{% endtrans %}
                            </a>
                        </p>
                    </p>
                </div>
            </div>
            {% endfor %}
            <div class=" d-none d-md-block">
                <a href="{{ path('gig_list_upcoming_frontend') }}" class="text-light">
                    {% trans from "messages" %}more_gigs{% endtrans %}
                </a>
            </div>
            <div class="d-block d-md-none">
                <button class="btn btn-outline-light pull-right">
                    <a href="{{ path('gig_list_upcoming_frontend') }}" class="text-light">
                        {% trans from "messages" %}more_gigs{% endtrans %}
                    </a>
                </button>
            </div>
        </div>
        <div class="col-md-3 mb-5 bg-black ml-3 mr-3 ml-md-5 mr-md-5 text-center">
            <h2 class="pt-2">{% trans %}social{% endtrans %}</h2>

            {% set facebookIframe='facebook-iframe'|getFacebookIframe %}
            {% if facebookIframe %}
                <div class="mb-3">
                    <h3 class="text-left mb-3">{% trans %}facebook{% endtrans %}</h3>
                    {{ facebookIframe|raw }}
                </div>
                <hr class="border-white" />
            {% endif %}

            {% set instagramIframe='instagram-iframe'|getInstagramIframe %}
            {% if instagramIframe %}
                <div class="mb-3">
                    <h3 class="text-left mb-3">{% trans %}instagram{% endtrans %}</h3>
                    {{ instagramIframe|raw }}
                </div>
                <hr class="border-white" />
            {% endif %}

            {% set spotifyIframe='spotify-iframe'|getSpotifyIframe %}
            {% if spotifyIframe %}
                <div class="mb-3">
                    <h3 class="text-left">{% trans %}spotify{% endtrans %}</h3>
                    {{ spotifyIframe|raw }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
