{% extends 'admin-base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <h1>{% trans from "messages" %}social_settings{% endtrans %}</h1>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}facebook_page{% endtrans %}</label>
                {{ form_widget(form.facebookPage) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}facebook_iframe{% endtrans %}</label>
                {{ form_widget(form.facebookIframe) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}instagram_account{% endtrans %}</label>
                {{ form_widget(form.instagramAccount) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}instagram_iframe{% endtrans %}</label>
                {{ form_widget(form.instagramIframe) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}youtube_channel{% endtrans %}</label>
                {{ form_widget(form.youtubeChannel) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}spotify_account{% endtrans %}</label>
                {{ form_widget(form.spotifyAccount) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label>{% trans from "messages" %}spotify_iframe{% endtrans %}</label>
                {{ form_widget(form.spotifyIframe) }}
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
