{% extends 'admin-base.html.twig' %}
 {% block stylesheets %}
     {{ parent() }}
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
 {% endblock %}
{% block body %}
    <div class="container">
        <table id="news-list" class="table">
            <thead>
            <tr>
                <th scope="col">{% trans from "messages" %}title{% endtrans %}</th>
                <th scope="col">{% trans from "messages" %}created_at{% endtrans %}</th>
                <th scope="col">{% trans from "messages" %}modified_at{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for news in entities %}
                <tr>
                    <td scope="row">{{ news.title }}</td>
                    <td scope="col"
                        data-order="{{ news.createdAt|date('Y-m-d') }}">{{ news.createdAt|date('d.m.Y H:i') }}</td>
                    <td scope="col"
                        data-order="{{ news.createdAt|date('Y-m-d') }}">{{ news.modifiedAt|date('d.m.Y H:i') }}</td>
                    <td scope="col">
                        <a href="{{ path('news_show', {'slug': news.slug}) }}">
                            {% trans from "messages" %}show{% endtrans %}
                        </a>
                        |
                        <a href="{{ path('news_edit', {'id': news.id}) }}">
                            {% trans from "messages" %}edit{% endtrans %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#news-list').DataTable({
                'order': [[1, 'desc']]
            });
        });
    </script>
{% endblock %}
