{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid text-center mb-3">
        <h1 class="mb-3">{{ 'band-name'|getBandName }}</h1>
        <img class="img-fluid" src="{{ 'bannerImage'|getBannerImage }}"/>
    </div>
    <div class="container">
        <h2 class="text-center">{% trans from  "messages" %}latest_news{% endtrans %}</h2>
        {% for key, news in entities %}
            {% if key % 2 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="float-right text-right text-muted">{{ news.createdAt|date('d.m.Y') }}</div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"> {{ news.title }}</h3>
                        <p class="card-text">
                            {{ news.content|striptags| slice(0, 500) }}
                            {% if news.content|length > 500 %}
                                ...
                            {% endif %}
                        </p>

                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('news_show', {'slug': news.slug}) }}"
                           class="btn btn-light btn-outline-dark">
                            {% trans from "messages" %}read_more{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
            {% if key % 2 == 1 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
