{% extends 'base.html.twig' %}

{% block metaTitle %}<meta property="og:title" content="{{ 'news'|trans }}| {{ 'band'|getBandName }}"/>{% endblock %}

{% block breadCrumb %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "{{ url('homepage_frontend_index') }}",
            "name": "{{ 'home'|trans }}"
        }
    }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "{{ url('news_list_frontend') }}",
            "name": "{{ 'news'|trans }}"
        }
    }]
}
</script>
{% endblock %}
{% block body %}
    <div class="container">
        <h2 class="text-center text-light">{% trans from  "messages" %}latest_news{% endtrans %}</h2>
        {% for key, news in entities %}
            {% if key % 2 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-12">
                <div class="card mb-4 bg-black border-dark">
                    <div class="card-header bg-dark">
                        <div class="float-right text-light text-right">{{ news.createdAt|date('d.m.Y') }}</div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"> {{ news.title }}</h3>
                        <p class="card-text">
                            {{ news.content|striptags|replace({'&nbsp;' : ''})| slice(0, 500) }}
                            {% if news.content|length > 500 %}
                                ...
                            {% endif %}
                        </p>

                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('news_show', {'slug': news.slug}) }}"
                           class="btn btn-light btn-outline-light">
                            {% trans from "messages" %}read_more{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
            {% if key % 2 == 1 %}
                </div>
            {% endif %}
        {% endfor %}
        {% if page > 1 %}
        <div class="col-sm-12 text-center bg-black p-3 mb-3">
                {% if numberOfPages > 2 %}
                    <a href="{{ path('news_list_frontend') }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-double-left"></button>
                    </a>
                {% endif %}
                {% if page - 1 == 1 %}
                    <a href="{{ path('news_list_frontend') }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-left"></button>
                    </a>
                    <a href="{{ path('news_list_frontend') }}">
                        <button class="btn btn-light btn-outline-light">{{ page - 1 }}</button>
                    </a>
                {% else %}
                    <a href="{{ path('news_list_frontend_page', { page: page - 1 }) }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-left"></button>
                    </a>
                    <a href="{{ path('news_list_frontend_page', { page: page - 1 }) }}">
                        <button class="btn btn-light btn-outline-light">{{ page - 1 }}</button>
                    </a>
                {% endif %}
            {% endif %}
            {% if numberOfPages > 1 %}
                <button class="btn btn-light btn-outline-light active">{{ page }}</button>
            {% endif %}
            {% if page < numberOfPages %}
                <a href="{{ path('news_list_frontend_page', { page: page + 1 }) }}">
                    <button class="btn btn-light btn-outline-light">{{ page + 1 }}</button>
                </a>
                <a href="{{ path('news_list_frontend_page', { page: page + 1 }) }}">
                    <button class="btn btn-light btn-outline-light fa fa-angle-right"></button>
                </a>
                {% if numberOfPages > 2 %}
                    <a href="{{ path('news_list_frontend_page', { page: numberOfPages }) }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-double-right"></button>
                    </a>
                {% endif %}
            </div>
        {% endif %}
    </div>
{% endblock %}
