{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid text-center mb-3">
        <h1 class="mb-3 text-light">{{ 'band-name'|getBandName }}</h1>
        <img class="img-fluid" src="{{ 'bannerImage'|getBannerImage }}"/>
    </div>
    <div class="container">
        <h2 class="text-center text-light">{% trans from  "messages" %}latest_news{% endtrans %}</h2>
        {% for key, news in entities %}
            {% if key % 2 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-12">
                <div class="card mb-4 bg-black border-dark">
                    <div class="card-header bg-dark">
                        <div class="float-right text-light text-right">{{ news.createdAt|date('d.m.Y') }}</div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title"> {{ news.title }}</h3>
                        <p class="card-text">
                            {{ news.content|striptags| slice(0, 500) }}
                            {% if news.content|length > 500 %}
                                ...
                            {% endif %}
                        </p>

                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('news_show', {'slug': news.slug}) }}"
                           class="btn btn-light btn-outline-light">
                            {% trans from "messages" %}read_more{% endtrans %}
                        </a>
                    </div>
                </div>
            </div>
            {% if key % 2 == 1 %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-sm-12 text-center">
            {% if page > 1 %}
                {% if numberOfPages > 2 %}
                    <a href="{{ path('news_list_frontend') }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-double-left"></button>
                    </a>
                {% endif %}
                {% if page - 1 == 1 %}
                    <a href="{{ path('news_list_frontend') }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-left"></button>
                    </a>
                    <a href="{{ path('news_list_frontend') }}">
                        <button class="btn btn-light btn-outline-light">{{ page - 1 }}</button>
                    </a>
                {% else %}
                    <a href="{{ path('news_list_frontend_page', { page: page - 1 }) }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-left"></button>
                    </a>
                    <a href="{{ path('news_list_frontend_page', { page: page - 1 }) }}">
                        <button class="btn btn-light btn-outline-light">{{ page - 1 }}</button>
                    </a>
                {% endif %}
            {% endif %}
            {% if numberOfPages > 1 %}
                <button class="btn btn-light btn-outline-light active">{{ page }}</button>
            {% endif %}
            {% if page < numberOfPages %}
                <a href="{{ path('news_list_frontend_page', { page: page + 1 }) }}">
                    <button class="btn btn-light btn-outline-light">{{ page + 1 }}</button>
                </a>
                <a href="{{ path('news_list_frontend_page', { page: page + 1 }) }}">
                    <button class="btn btn-light btn-outline-light fa fa-angle-right"></button>
                </a>
                {% if numberOfPages > 2 %}
                    <a href="{{ path('news_list_frontend_page', { page: numberOfPages }) }}">
                        <button class="btn btn-light btn-outline-light fa fa-angle-double-right"></button>
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
