{% extends 'base.html.twig' %}
{% block breadCrumb %}
<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {
        "@type": "ListItem",
        "position": 1,
        "item": {
            "@id": "{{ url('homepage_frontend_index') }}",
            "name": "{{ 'home'|trans }}"
        }
    }, {
        "@type": "ListItem",
        "position": 2,
        "item": {
            "@id": "{{ url('news_list_frontend') }}",
            "name": "{{ 'news'|trans }}"
        }
    }, {
        "@type": "ListItem",
        "position": 3,
        "item": {
            "@id": "{{ url('news_show', {'slug' : entity.slug }) }}",
            "name": "{{ entity.title }}"
        }
    }]
}
</script>
{% endblock %}
{% block body %}
    <div class="container bg-black p-3">
        <div class="row">
            <h1 class="col">{{ entity.title }}</h1>
            <h6 class="col text-right text-muted">
                {% trans from "messages" %}created_at{% endtrans %} {{ entity.createdAt|date("d.m.Y") }}
            </h6>
        </div>
        <hr/>
        <div class="row">
            <div class="col">
                {{ entity.content| raw }}
            </div>
        </div>
    </div>
{% endblock %}
