<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set bandName='band-page'|getBandName %}
    <title>{% block title %}{{ bandName }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/application.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-4.css') }}">
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="navbar-brand">{{ bandName }} Admin</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('homepage_backend_dashboard') }}">{% trans from "messages" %}dashboard{% endtrans %}
                    <span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {% trans from "messages" %}news{% endtrans %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="{{ path('news_create') }}">{% trans from "messages" %}create_new{% endtrans %}</a>
                    <a class="dropdown-item"
                       href="{{ path('news_list_backend') }}">{% trans from "messages" %}list_all{% endtrans %}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {% trans from "messages" %}location{% endtrans %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="{{ path('location_create') }}">{% trans from "messages" %}create_new{% endtrans %}</a>
                    <a class="dropdown-item"
                       href="{{ path('location_list_backend') }}">{% trans from "messages" %}list_all{% endtrans %}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {% trans from "messages" %}gig{% endtrans %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="{{ path('gig_create') }}">{% trans from "messages" %}create_new{% endtrans %}</a>
                    <a class="dropdown-item"
                       href="{{ path('gig_list_backend') }}">{% trans from "messages" %}list_all{% endtrans %}</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    {% trans from "messages" %}page{% endtrans %}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item"
                       href="{{ path('page_create') }}">{% trans from "messages" %}create_new{% endtrans %}</a>
                    <a class="dropdown-item"
                       href="{{ path('page_list_backend') }}">{% trans from "messages" %}list_all{% endtrans %}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('filemanager_list') }}">{% trans from "messages" %}file_manager{% endtrans %}
                    <span class="sr-only"></span></a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto right">
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('menu_main_list') }}">{% trans from "messages" %}edit_main_menu{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('menu_footer_list') }}">{% trans from "messages" %}edit_footer_menu{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('settings_edit') }}">{% trans from "messages" %}settings{% endtrans %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   href="{{ path('security_logout') }}">{% trans from "messages" %}logout{% endtrans %}</a>
            </li>
        </ul>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
{% block javascripts %}
    <script src="{{ asset('js/application.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="{{ asset('js/bootstrap-4.js') }}"></script>
{% endblock %}
</html>
