<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set bandName='band-page'|getBandName %}
    <title>{% block title %}{{ bandName }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/application.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-4.css') }}">
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <link id="favicon" rel="shortcut icon" href="{{ 'favicon'|getFavicon }}" title="Favicon">
</head>
<body>
{% include 'Navigation/admin-navigation.html.twig' %}
{% block body %}
{% endblock %}
</body>
{% block javascripts %}
    <script src="{{ asset('js/application.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="{{ asset('js/bootstrap-4.js') }}"></script>
{% endblock %}
</html>
