<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% set bandName='band-page'|getBandName %}
    <title>{% block title %}{{ bandName }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/application.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-4.css') }}">
        <link rel="stylesheet" type="text/css"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga_tracking }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ ga_tracking }}');
    </script>
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
        <div class="navbar-brand">
            <a href="{{ path('news_list_frontend') }}">{{ bandName }} <span class="sr-only"></span></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-md-8">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('gig_list_upcoming_frontend') }}">{% trans from "messages" %}gigs{% endtrans %}
                        <span
                                class="sr-only"></span></a>
                </li>
                {% set mainMenu = 'menu'|getMainMenu %}
                {% for item in mainMenu.items %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ path('page_show', {'slug':  item.page.slug }) }}">{{ item.page.name }}<span
                                    class="sr-only"></span></a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav mr-auto right">
                {% set facebookPage='facebook-page'|getFacebookPage %}
                {% if facebookPage %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ facebookPage }}"
                           target="_blank">
                            <span title="{% trans from "messages" %}facebook{% endtrans %}"
                                  class="fa fa-facebook-official"></span>
                        </a>
                    </li>
                {% endif %}
                {% set instagramAccount='instagram-account'|getInstagramAccount %}
                {% if instagramAccount %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ instagramAccount }}"
                           target="_blank">
                            <span title="{% trans from "messages" %}instagram{% endtrans %}"
                                  class="fa fa-instagram"></span>
                        </a>
                    </li>
                {% endif %}
                {% set youtubeChannel='youtube-channel'|getYouTubeChannel %}
                {% if youtubeChannel %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ youtubeChannel }}"
                           target="_blank">
                            <span title="{% trans from "messages" %}youtube{% endtrans %}"
                                  class="fa fa-youtube-play"></span>
                        </a>
                    </li>
                {% endif %}
                {% set spotifyAccount='spotify-account'|getSpotifyAccount %}
                {% if spotifyAccount %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ spotifyAccount }}"
                           target="_blank">
                            <span title="{% trans from "messages" %}spotify{% endtrans %}"
                                  class="fa fa-spotify"></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<main class="container-fluid flex-fill">
    {% block body %}
    {% endblock %}
</main>
<footer class="container-fluid w-100 p-0">
    {% set footerMenu = 'footer'|getFooterMenu %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto col-md-8">
            {% for item in footerMenu.items %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path('page_show', {'slug':  item.page.slug }) }}">{{ item.page.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="navbar-inverse">
    </div>
</footer>
</body>
{% block javascripts %}
    <script src="{{ asset('js/application.js') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap-4.js') }}"></script>
{% endblock %}
</html>
